{% extends 'base.html' %}

{% block titulo_conteudo %} Detalhes da Categoria {% endblock titulo_conteudo %}

{% block conteudo %}

<table class="table table-bordered">
  <tbody>
      <tr>
          <td>ID:</td>
          <td>{{ categoria.id }}</td>
      </tr>
      <tr>
          <td>Nome:</td>
          <td>{{ categoria.nome }}</td>
      </tr>
      <tr>
          <td>Ordem:</td>
          <td>{{ categoria.ordem }}</td>
      </tr>
  </tbody>
</table>
<a href="{% url 'categoria' %}" class="btn btn-secondary">Voltar</a>

{% endblock conteudo %}