{% extends 'base.html' %}

{% block titulo_conteudo %} Editar Categoria {% endblock titulo_conteudo %}

{% block conteudo %}

<form method="post">
    {% csrf_token %}
    <p>
      <label for="id_item">ID:</label>
      <input type="number" name="item" class="inteiro form-control" placeholder="" required id="id_item">
    </p>
    <p>
      <label for="id_nome">Descrição:</label>
      <input type="text" name="nome" class="form-control" placeholder="" maxlength="100" required id="id_nome">
    </p>

    <p>
      <label for="id_estoque">Estoque:</label>
      <input type="number" name="estoque" class="inteiro form-control" placeholder="" required id="id_estoque">
    </p>

    <p>
      <label for="id_ordem">Valor:</label>
      <input type="number" name="ordem" class="inteiro form-control" placeholder="" required id="id_ordem">
    </p>
  
    <p>
      <!-- Renderiza cada campo do formulário com <p> tags -->
        <a href="{% url 'categoria' %}" class="btn btn-primary">Ok</a>
       <!-- <button class="btn btn-primary" onclick="location.href='{% url 'categoria' %}'">Voltar</button>-->
    </p>
  </form>

{% endblock conteudo %}