<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota Fiscal</title>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        th {
            background-color: #f2f2f2; /* Define uma cor de fundo clara para os cabeçalhos */
            border: 1px solid black;
          }
        tr {
            text-align: left; /* Justifica o texto dentro das células */
          }
        td {
          text-align: left; /* Justifica o texto dentro das células */
          border: 1px solid black;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    
</head>
<body>
    <div style="border: 2px solid black; padding: 10px; ">
        <div style="display: flex; justify-content: center; align-items: center; font-weight: bold;">DANFE - Documento Auxiliar da Nota Fiscal Eletrônica
        </div>
        <div style="border: 1px solid black; padding: 10px;"><strong> CHAVE DE ACESSO:</strong> </div>
        <p></p>
        <div style="border: 1px solid black; padding: 10px;">
            <p><strong>Destinatário:</strong> {{pedido.cliente.nome}}</p>
            <p><strong>Data Nascimento:</strong>{{pedido.cliente.datanascimento}}</p>
            <p><strong>CPF/CNPJ:</strong> {{pedido.cliente.cpf}}</p>
        </div>
        <p></p>
        <div style="border: 1px solid black; padding: 10px; ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Qtd</th>
                        <th>Valor Unitário</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pedido.itempedido_set.all %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.produto.nome }}</td>
                        <td>{{ item.qtde }}</td>
                        <td>R$ {{ item.produto.preco}}</td>
                        <td>R$ {{ item.subtotal}}</td>           
                    </tr>
                    
                    {% endfor %}
                </tbody>            
            </table>
        </div>
        <p></p>
         
        <div style="border: 1px solid black; padding: 10px; ">
            <div style="display: flex; justify-content: space-between;">                 
                <div>
                    <strong>ICMS.......: R$</strong> {{pedido.valor_icms}}
                </div>
                <div>
                    <strong>IPI.............: R$</strong> {{pedido.valor_ipi}}
                </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                <strong>PIS...........: R$</strong> {{pedido.valor_pis}}
                </div>
                <div>
                <strong>COFINS....: R$</strong> {{pedido.valor_confins}}
                </div>
            </div>
        </div>
        <p></p>
        <div style="border: 1px solid black; padding: 10px;">
            <p><strong>Total.........: R$</strong> {{pedido.total}}</p>
            <p><strong>Impostos...: R$</strong> {{pedido.valor_total_impostos}}</p>
            <p><strong>Valor Final: R$</strong> {{pedido.valor_final}}</p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; font-weight: bold;">Recebemos os produtos constantes nesta nota fiscal.</div>
    </div>
    <p>   
    </p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" onclick="baixarNotaFiscal()" class="btn btn-info btn-sm">Baixar Nota Fiscal em PDF</button>
    </div>
    <script>
        // Função para gerar o PDF
        function baixarNotaFiscal() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();
    
            // Captura o conteúdo da página que você deseja transformar em PDF
            const content = document.querySelector('body').innerHTML;
    
            // Adiciona o conteúdo HTML ao PDF
            doc.html(content, {
                callback: function (doc) {
                    // Salva o arquivo PDF com o nome "nota_fiscal.pdf"
                    doc.save('nota_fiscal.pdf');
                },
                x: 10, // Margem X
                y: 10, // Margem Y
            });
        }
    </script>
</body>
</html>
